---
layout: default
---

<div class="container ">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}

  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  
  <div class="card-columns">
      {%- for post in site.posts -%}
    <div class="card">
      <img src="assets/images/{{  post.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="card-title"  href="{{ post.url | relative_url }}">
            {{ post.title | escape }} </a>
      </div>
    </div>
    {%- endfor -%}
  </div>
  {%- endif -%}
</div>
